html {
  font-family: 'Lato', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

div {
  max-width: 25em;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-align: left;
}

.btn {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  text-decoration: none;
}

.btn-ghost {
  color: #333;
  border: 3px solid #000;
  border-radius: .5em;
  padding: .5em;
  display: inline-block;
}

.btn-ghost:hover {
  color: #fff;
  background-color: #666;
  border-color: #666;
}

html {
	box-sizing: border-box;
}
